<div class="container-fluid">
       
    <h2> Project Information </h2>
    <form (ngSubmit) = "editProject()">
        <div class="form-group">
            <img src="../../assets/userimageround.png"><label for="image"> &nbsp; Project Image:</label>
            <p>&nbsp;</p>
            <input type="file" class="form-control-file" id="image" accept="image/*">
        </div>
        <div class="form-group">
            <label for="projectTitle" class="headings">Project Title:</label><br>
            <input type="text" class="form-control" name="title" id="projectTitle" placeholder="Enter your Project title" [(ngModel)]="updatedData.title">
        </div>
        <div class="form-group">
            <label for="projectTitle" class="headings">Project type:</label><br>
            <select name="type" [(ngModel)]="updatedData.type" >
                <option *ngFor="let dd of typeData"[value]="dd.type">{{ dd.type }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="projectContent" class="headings">Project Content:</label><br>
            <textarea class="form-control" id="projectContent" name="desc" rows="4" placeholder="Write your project description here" [(ngModel)]="updatedData.desc"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Add</button> &nbsp;
            <!-- <button type="submit" class="btn btn-primary">Back</button> -->
        </div>
    </form>
</div>
