<div class="login bg-light w-70">
    <div class="login-container">
        <h2>Login</h2>
        <form (ngSubmit)="onSubmit()">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="type your username here" [(ngModel)]="formData.username">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="type your password here" [(ngModel)]="formData.password">
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" fdprocessedid="72dyz" type="submit">Login</button>
                </div>
            </div>
            <div class="flex-col-c p-t-155">
                <a href="#" routerLink="/signup">sign up</a>

            </div>
        </form>
    </div>
</div>