<div class="container-fluid" *ngIf="userData">
    <h2> Personal Information </h2>
    <form>
        <div class="form-group">
            <img src="{{ userData.image}}" height="100px" width="100px">
            <p>&nbsp;</p>
            <input type="file" class="form-control-file" id="image" accept="image/*" (change)="onFileChange($event)">
        </div>
        <div class="form-group">
            <label for="username" class="headings">Name</label><br>
            <input type="text" class="form-control" id="name" [(ngModel)]="formData.name" value="{{ userData.Name}}" name="name" />
        </div>
        <div class="form-group">
            <label for="email" class="headings">User Name</label><br>
            <input type="text" class="form-control" id="username" value="{{ userData.username}}" placeholder="Enter your username" name="username" [(ngModel)]="formData.username" />
        </div>
        <div class="form-group">
            <label for="email" class="headings">Email</label><br>
            <input disabled type="email" class="form-control" id="email" value="{{ userData.email}}" placeholder="Enter your email" name="email" />
        </div>
        <div class="form-group">
            <label for="blogTitle" class="headings">Date of birth</label><br>
            <input type="date" class="form-control" id="blogTitle" value="{{ userData.dob}}" placeholder="Enter your dob" [(ngModel)]="formData.dob" name="dob" />
        </div>
        <div class="form-group">
            <label for="blogTitle" class="headings">Gender</label><br>
            <input type="text" class="form-control" id="blogTitle" placeholder="Male/Female" value="{{ userData.gender}}" [(ngModel)]="formData.gender" name="gender" />
        </div>
        <div class="form-group">
            <label for="blogTitle" class="headings">Nationality</label><br>
            <input type="text" class="form-control" id="blogTitle" placeholder="Indian" value="{{ userData.nationality}}" [(ngModel)]="formData.nationality" name="nationality" />
        </div>
        <div class="form-group">
            <label for="blogTitle" class="headings">Contact number</label><br>
            <input type="tell" class="form-control" id="blogTitle" placeholder="Your mobile number" value="{{ userData.phone}}" [(ngModel)]="formData.phone" name="phone">
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Update</button> &nbsp;
        <button class="btn btn-primary" routerLink="/dashboard">Back</button>
    </form>
</div>