<header class="sticky-top bg-dark  p-0 shadow d-flex flex-row justify-content-between align-items-center py-3 px-5">
    <a class="" href="#">
        <img src="../../assets/logoA.png" height="40px">
    </a>

    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3 text-light" href="#" (click)="logout()" routerLink="/login">Sign out</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" routerLink="/dashboard/greeting">
                            <span data-feather="home"></span> Dashboard
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="userRole != 'admin'">
                        <a class="nav-link" href="#" routerLink="/dashboard/userform">
                            <span data-feather="file"></span> Profile
                        </a>
                    </li>
                    <li class="nav-item"  *ngIf="userRole != 'admin'">
                        <a class="nav-link" href="#" routerLink="/dashboard/blog">
                            <span data-feather="file"></span> Blog posts
                        </a>
                    </li>

                    <li class="nav-item" *ngIf="userRole != 'admin'">
                        <a class="nav-link" href="#" routerLink="/dashboard/project">
                            <span data-feather="file"></span> Project
                        </a>
                    </li>

                    <li class="nav-item" *ngIf="userRole != 'admin'">
                        <a class="nav-link" href="#" routerLink="/dashboard/chat">
                            <span data-feather="file"></span> Chat Manager
                        </a>
                    </li>

                    <li class="nav-item" *ngIf="userRole === 'admin'">
                        <a class="nav-link" href="#" routerLink="/dashboard/enquiry">
                            <span data-feather="file"></span> Enquiry
                        </a>
                    </li>
                    
                    <li class="nav-item" *ngIf="userRole === 'admin'">
                        <a class="nav-link" href="#" routerLink="/dashboard/users">
                            <span data-feather="file"></span> Users
                        </a>
                    </li>
                    
                    <li class="nav-item" *ngIf="userRole === 'admin'">
                        <a class="nav-link" href="#" routerLink="/dashboard/projtype">
                            <span data-feather="file"></span> Project Type
                        </a>
                    </li>
                    



                </ul>

            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div>
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>