<body>
    <div class="blogpost">
        <header class="button-set">
            <h1>My Blog</h1>
            <button routerLink="/dashboard/editblog" class="add">Add Blog</button>

        </header>
        <input type="text" [(ngModel)] ="title" placeholder="search ">
        <table>
            <tr>
                <th class="header">S. No.</th>

                <th class="header">Image</th>
                <th class="header">Category</th>
                <th class="header">Title</th>
                <th class="header">Description</th>
                <th class="header"></th>
                <th class="header"></th>
            </tr>

            <tr *ngFor="let post of blogListData | TitleFilter:title;let i = index">
                <td>{{i+1}}</td>
                <td><img src={{post?.image}}> </td>
                <td>{{ post.category}}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.desc }}</td>




                <th> <button (click)="deleteBlogPost(post?._id)">Delete</button></th>
                <th> <button (click)="edit(post?._id)">Edit</button></th>
                <th> <button (click)="view(post?._id)">view</button></th>

            </tr>




        </table>
    </div>
</body>