<body>
    <div>
        <header class="button-set">
            <h1>My Blog</h1>
            <button routerLink="/dashboard/editform" class="add">Add Blog</button>
        </header>
        <table>
            <tr>

                <th class="header">Image</th>
                <th class="header">Category</th>
                <th class="header">Title</th>
                <th class="header">Description</th>
                <th class="header"></th>
                <th class="header"></th>
            </tr>

            <tr *ngFor="let post of blogListData">
                <td><img src="../../assets/almond.jpg"> </td>
                <td>{{ post.category}}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.desc }}</td>


                <th> <button (click)="deleteBlogPost(post?._id)">Delete</button></th>
                <th> <button (click)="edit(post?._id)">Edit</button></th>

            </tr>




        </table>
    </div>
</body>