* {
    font-family: sans-serif;
}

.background-image {
    background-color: #8571d4;
    background-image: linear-gradient(225deg, #8571d4 0%, #784BA0 50%, #2B86C5 100%);
    
    
  
}

.text {
    font-size: 1.8rem;
    font-weight: bold;
}

.gaping {
    gap: 30px;
    list-style-type: none;
}

.first {
    padding-left: 10%;
    padding-right: 10%;
}

.second {
    padding-top: 80px;
}



.border2 {
    border-radius: 12px;
    height: 300px;
    width: 220px;
    background-image: url('../../assets/image2.jpg');
    background-size: cover;
    background-position: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 10%;

}


.alink {
    text-decoration: none;
}
.crs{
    margin-top: 100px;
}
.card-text{
   padding-top: 190px;
}