<div class="background-image">
    <div class="first">
        <header>
            <div class="d-flex flex-row justify-content-between pt-5 text-white">
                <p class="text">Programming Hub</p>
                <nav>
                    <ul class=" gaping d-flex flex-row justify-content-end ">
                        <li><a href="#" class=" alink text-white">Home</a></li>
                        <li><a href="#" class=" alink text-white">Pages</a></li>
                        <li><a href="#" class=" alink text-white">Blog</a></li>
                        <li><a href="#" class=" alink text-white" routerLink="/login">Login / SignUp</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class=" second text-white">
            <h1>Featured Articles</h1>
            <p>Enjoy Personalized,Fun,And Interactive Learning Process While Becoming a Programming Hero</p>
        </div>
       
          
                <div class="d-flex flex-row outer-border mt-5 ">
                    <div class="border1">
                      <div class="text-white ps-4 pt-3">Jane Cooper</div>
                      <div class="text-white ps-4 card-text">Why Avoiding Programming Is Bad for Your Business?</div>
                      <div class="text-white ps-4">Oct 8,2023</div>
                    </div>
                    <div class="border4">
                      <div class="text-white ps-4 pt-3">Jane Cooper</div>
                      <div class="text-white ps-4 card-text">Social media Hacking- What is Phishing?</div>
                      <div class="text-white ps-4">Oct 8,2023</div>
                    </div>
                    <div class="border2">
                      <div class="text-white ps-4 pt-3">Jane Cooper</div>
                      <div class="text-white ps-4 card-text">6 Life Lessons From a Self Taught</div>
                      <div class="text-white ps-4">Oct 8,2023</div>
                    </div>
                    <div class="border3">
                      <div class="text-white ps-4 pt-3">Jane Cooper</div>
                      <div class="text-white ps-4 card-text">The Simplest Path To Become a  Software Engineer</div>
                      <div class="text-white ps-4">Oct 8,2023</div>
                    </div>
                    
        
                </div>
              </div>
             




    </div>

  
